.contentWrapper {
  background-color: black;
  display: flex;
  justify-content: center;
  padding: 30px 100px;
  color: #b4b4b4;
  flex-direction: column;
  align-items: center;
  
  .content {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    margin: -8px; 

    .noData {
      display: flex;
      justify-content: center;
      align-items: center;
      color: grey;
      width: 100vw;
      height: 100%;
      padding: 100px;
    }
  }
}  

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  min-width: 100vw;
  background-image: url('../../assets/background.png');
  background-repeat: no-repeat;
  background-size: cover;

  .infoWrapper {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .celebrate {
    color: #D1CCE1;
    font-family: PT Astra Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .logo {
    color: #D1CCE1;
    font-family: PT Astra Sans;
    font-size: 140px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .restaurant {
    color: #5E5E6A;
    font-family: Bert Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 40px;
    padding-left: 40px;
  }

}

.inputWrapper {
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
  
  input {
    background: none;
    border: 1px solid grey;
    padding: 5px;
    color: grey;
  }

  select {
    margin-left: 10px;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 0;
    color: grey;
    cursor: pointer;
    position: relative;
    background: none;

    option {
      background-color: black;
      border-radius: 0;
      border: 0px solid #ccc;
    }
  }
}


.lowPricesWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  min-width: 100vw;

  .hotPriceTitle {
    padding-top: 40px;
    color: #b4b4b4;
    font-size: 30px;
  }

  .hotPriceContentWrapper {
    background-color: black;
    display: flex;
    justify-content: center;
    padding: 20px 100px 100px 100px;
    color: #b4b4b4;
    flex-direction: column;
    align-items: center;
    
    .hotPriceContent {
      background-color: black;
      display: flex;
      flex-wrap: wrap;
      justify-content: center; 
      margin: -8px; 
    }
  } 

}