.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  background-image: url('../../assets/background.png');
  background-repeat: no-repeat;
  background-size: cover;

  .infoWrapper {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .celebrate {
    color: #D1CCE1;
    font-family: PT Astra Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .logo {
    color: #D1CCE1;
    font-family: PT Astra Sans;
    font-size: 140px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .restaurant {
    color: #5E5E6A;
    font-family: Bert Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 36.48px;
  }

  .showMoreLink {
    color: #b4b4b4;
    text-decoration: none;
    border: 0.5px #b4b4b4 solid;
    padding: 5px 15px;
    margin: 15px 0 0 0;
  }

  .showMoreWrapper {
    border: 1px #b4b4b4 solid;
    padding: 5px 10px;
    margin-top: 10px;

    a {
      text-decoration: none;
      color: #b4b4b4 !important;

      &:hover {
        color: white !important;
      }
    }

    &:hover {
      border: 1px rgb(187, 23, 23) solid;
    }
  }
}

.contentWrapper {
  background-color: black;
  display: flex;
  justify-content: center;
  padding: 0 100px;
  color: #b4b4b4;
  flex-direction: column;
  align-items: center;
  
  .content {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    margin: -8px; 
  }

  .menuLinkWrapper {
    border: 1px #b4b4b4 solid;
    padding: 5px 15px;
    margin: 20px 0;

    a {
      text-decoration: none;
      color: #b4b4b4 !important;
      font-size: 25px;

      &:hover {
        color: white !important;
      }
    }

    &:hover {
      border: 1px rgb(187, 23, 23) solid;
    }
  }
}

.scrollWrapper {
  margin: auto;
  padding: 30px;
  background-color: black;
  width: 100vw;
}

.carousel-container {
  max-width: 600px; 
  margin: auto;
  width: 100%; 

  .carousel-images {
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%;
    transition: transform 0.5s ease-in-out;
  
    img {
      width: 300px;
      height: 300px;
      max-width: 100%;
      transition: transform 0.5s ease-in-out;
  
      &.active {
        transform: translateX(0);
      }
    }
  }
  
  .carousel-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);

    button {
      background-color: #333;
      color: #fff;
      border: none;
      padding: 10px;
      cursor: pointer;
      font-size: 16px;
      outline: none;

      &:hover {
        background-color: #555;
      }
    }

    .carousel-dots {
      display: flex;
      gap: 10px;

      .carousel-dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #888;
        cursor: pointer;

        &.active {
          background-color: #333;
        }
      }
    }
  }
}

.contactUsWrapper {
  margin: auto;
  padding: 30px;
  background-color: black;
  width: 100vw;
}

.sushiImgWrapper {
  display: flex;
  height: 550px;
  flex-direction: column;
  align-items: center;
  background-color: black;


  img {
    width: 100%;
    height: 550px;
  }
}

.lowPricesWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;

  h1 {
    padding-top: 40px;
    color: #b4b4b4;
  }

  .hotPriceContentWrapper {
    background-color: black;
    display: flex;
    justify-content: center;
    padding: 50px 100px 100px 100px;
    color: #b4b4b4;
    flex-direction: column;
    align-items: center;
    
    .hotPriceContent {
      background-color: black;
      display: flex;
      flex-wrap: wrap;
      justify-content: center; 
      margin: -8px; 
    }
  } 

}