.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  background-image: url('../../assets/background.png');
  background-repeat: no-repeat;
  background-size: cover;

  color: #fff;
  .celebrate {
    color: #D1CCE1;
font-family: PT Astra Sans;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
  }
  .logo {
  
color: #D1CCE1;
font-family: PT Astra Sans;
font-size: 140px;
font-style: normal;
font-weight: 400;
line-height: normal;
  }

  .restaurant {
    color: #5E5E6A;
font-family: Bert Sans;
font-size: 32px;
font-style: normal;
font-weight: 300;
line-height: normal;
letter-spacing: 36.48px;
  }
}
