.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  background-image: url('../../assets/background.png');
  background-repeat: no-repeat;
  background-size: cover;

  .infoWrapper {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .celebrate {
    color: #D1CCE1;
    font-family: PT Astra Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .logo {
    color: #D1CCE1;
    font-family: PT Astra Sans;
    font-size: 140px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .restaurant {
    color: #5E5E6A;
    font-family: Bert Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 36.48px;
  }

  .showMoreLink {
    color: #b4b4b4;
    text-decoration: none;
    border: 0.5px #b4b4b4 solid;
    padding: 5px 15px;
    margin: 15px 0 0 0;
  }
}

.contentWrapper {
  background-color: black;
  display: flex;
  justify-content: center;
  padding: 0 100px;
  color: #b4b4b4;
  flex-direction: column;
  align-items: center;
  
  .content {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    margin: -8px; 
  }

  .menuLinkWrapper {
    border: 1px #b4b4b4 solid;
    padding: 5px 10px;

    a {
      text-decoration: none;
      color: #b4b4b4 !important;

      &:hover {
        color: white !important;
      }
    }

    &:hover {
      border: 1px rgb(187, 23, 23) solid;
    }
  }
}

