.reservationForm {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;

    .userData {
      padding: 10px 0 0 0;
      font-size: 20px;
      width: 100%;
      display: flex;
      font-weight: 600;
      color: #cac1c1;
    }

    .inputName {
        padding: 10px 0 0 0;
        font-size: 20px;
    }
  
    input {
        width: 100%;
        padding: 8px;
        margin-top: 4px;
        box-sizing: border-box;
        background: none;
        border: none;
        border-bottom: 1px solid grey;
        color: grey;
    }
  
    input[type="date"], input[type="time"] {
        padding: 8px;
        margin-top: 4px;
        box-sizing: border-box;
        background: none;
        border: none;
        border-bottom: 1px solid slategrey;
    
        &::-webkit-calendar-picker-indicator {
          filter: invert(1);
        }
    }
  
    button {
      background: none;
      color: #b4b4b4;
      border: 0.5px #b4b4b4 solid;
      padding: 10px 15px;
      margin: 15px 10px 5px 0;
      width: 135px;
      font-size: 18px;
    }

    .errorInput {
      border: 2px solid rgb(167, 12, 12) !important; 
    }
    
    .errorText {
      color: rgb(167, 12, 12); 
    }
  }
  