.reservationForm {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .inputName {
        padding: 10px 0 0 0;
        font-size: 20px;
    }
  
    input {
        width: 100%;
        padding: 8px;
        margin-top: 4px;
        box-sizing: border-box;
        background: none;
        border: none;
        border-bottom: 1px solid grey;
        color: grey;
    }
  
    input[type="date"], input[type="time"] {
        padding: 8px;
        margin-top: 4px;
        box-sizing: border-box;
        background: none;
        border: none;
        border-bottom: 1px solid slategrey;
    
        &::-webkit-calendar-picker-indicator {
          filter: invert(1);
        }
    }
  
    button {
      background: none;
      color: #b4b4b4;
      border: 0.5px #b4b4b4 solid;
      padding: 10px 15px;
      margin: 15px 10px 5px 0;
      width: 135px;
      font-size: 18px;
    }
  }

  .errorInput {
    border-color: rgb(155, 26, 26); 
    border-bottom: 1px solid rgb(155, 26, 26) !important;
  }

  .errorText {
    color: rgb(155, 26, 26);
  }
  