.wrapper {
  flex-basis: calc(20% - 15px); 
  padding: 30px 10px;

  .productItemWrapper {
    display: flex;
    align-items: center;
    color: #b4b4b4;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    color: #b4b4b4;
  
    p {
      margin: 0;
      padding: 10px 0 5px 0;
    }
  
    button {
      background: none;
      color: #b4b4b4;
      border: 0.5px #b4b4b4 solid;
      margin: 5px 0 5px 0;
    }
  
    .productsName {
      font-size: 30px;
      padding: 15px 0 5px 0;
      font-weight: 600;
    }

    .pricesWrapper {
      padding: 10px;
      display: flex;
      align-items: center;
    }

    .cartItemDetails {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 30px;

      input {
        background: none;
        color: #b4b4b4;
        line-height: 35px;
        width: 100px;
        margin: 0 10px;
      }

      .deleteButton {
        margin-left: 10px;
      }

      .countWrapper {
        display: flex;
        align-items: center;

        button {
          border: none;
          font-size: 30px;
        }

        .count {
          padding: 0 5px;
          width: auto;
        }

        div {
          font-size: 30px;
        }
      }

      .price {
        color: rgb(187, 23, 23);
        font-size: 20px;
      }
    }
  }
}
