.wrapper {
  flex-basis: calc(20% - 15px); 
  margin: 20px 10px; 

  .productItemWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #b4b4b4;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
  
    p {
      margin: 0;
      padding: 10px 0 5px 0;
    }
  
    button {
      background: none;
      color: #b4b4b4;
      border: 0.5px #b4b4b4 solid;
      padding: 5px 15px;
      margin: 5px 0 5px 0;
    }
  
    .productsName {
      font-size: 18px;
      padding: 0 0 5px 0;
    }
  }
}
